:root {
  --max-width: 1440px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --brand-color: black;
  --brand-color-alt: white;
  --placeholder-color: #5F35F7;
  --placeholder-color-alt: #4425B2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw; /* 1440px Could be nice there too to avoid very big screen responsive */
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


/* I didn't found the font "Suisse Int'l" */
h1 {
  font-size: 21px;
  font-weight: 500;
  line-height: 33.6px;
  letter-spacing: 0em;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.02em;  
}

h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 35.2px;
  letter-spacing: 0em;
}

p {
  font-size: 21px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}


/* Mobile First */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 21px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: 0em;
  }
  
  h2 {
    font-size: 84px;
    font-weight: 500;
    line-height: 92px;
    letter-spacing: -0.02em;  
  }
  
  h3 {
    font-size: 42px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
  }
  
  p {
    font-size: 21px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
  }
  
  p {
   margin-bottom: 40px;
  }
}