.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.placeholder {
  background: var(--placeholder-color);
  width: 100%;
  height: 100%;
}

.placeholder-alt{
  background: var(--placeholder-color-alt);
  width: 100%;
  height: 100%;
}

/*The project is very small and i didn't got enough time to create
a CSS file for each component. */

/* Section One */

.sectionone{
  width: 100%;
  margin-bottom: 80px;
}

.intro {
  height: 100vh;
}

.sectionone .textcontainer{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20% 20px 20px ;
}

.sectionone .placeholdercontainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  overflow: scroll;
}


/* FULL CSS SLIDER */

.sectionone .placeholder {
  height: 300px;
  min-width: 70%;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .sectionone .placeholdercontainer {
    gap: 40px;
    height: 700px;
    overflow: hidden;
  }

  .sectionone .placeholder {
    min-width: auto;
    height: 100%;
  }
}

/* Section Two */

.sectiontwo {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 80px;
  width: 100%;
}

.sectiontwo .textcontainer{
  padding: 0 20px;
}

.sectiontwo .sectiontitle {
  text-align: center;
  margin-bottom: 40px;
}


/* Slider with the library Swiper */

.slider {
  width: 100%;
}

.slider .placeholder {
  height: 300px;
}

@media only screen and (min-width: 768px) {
  
  .sectiontwo .textcontainer {
    padding: 0 20% 60px;
  }

  .sectiontwo .placeholdercontainer {
    height: 620px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    flex-grow: 1;
  }
  
  .sectiontwo .placeholderone {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  } 
  
  .sectiontwo .placeholdertwo {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  } 
  
  .sectiontwo .placeholderthree {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  } 
  
  .sectiontwo .placeholderfour {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  } 
  
  .sectiontwo .placeholderfive {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
}

/* Section three */

.sectionthree {
  background: var(--brand-color);
  color: var(--brand-color-alt);
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sectionthree .sectioncontainer {
  display: flex;
  flex-direction: column;
}

.sectionthree .sectiontitle {
  margin: 0 20px 40px;
}

.sectionthree p {
  margin: 0 20px 20px;
}

.sectionthree .placeholder {
  height: 300px;
  margin: 0 0 20px;
}

@media only screen and (min-width: 768px) {

  /* This isn't the best solution I think but i didn't got enough time
  to find another solution */

  .sectionthree .sectiontitle,
  .sectionthree .placeholder,
  .sectionthree p  {
    margin: 0;
  }

  .sectionthree .sectioncontainer {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 40% 10% 10% 40%;
    grid-template-rows: 1fr 1fr 1fr 0.5fr 1fr;  
  }

  .sectionthree h3{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  } 

  .sectionthree .textone {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
  }

  .sectionthree .texttwo {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    margin-bottom: 40px;
  }

  .sectionthree .placeholder {
    height: auto;
  }
  
  .sectionthree .placeholderone {
    grid-row: 3 / 5;
    grid-column: 1 / 4;
  } 
  
  .sectionthree .placeholdertwo {
    grid-row: 4 / 6;
    grid-column: 2 / 5;
    background: var(--placeholder-color-alt);
    z-index: 1;
  }
  
}

/* Section Four */

.sectionfour {
  width: 100%;
  background: var(--brand-color);
  color: var(--brand-color-alt);
  padding: 0 20px 80px;
  display: flex;
  flex-direction: column;
}

.sectionfour .sectioncontainer {
  padding-top: 80px;
  border-top: 1px solid var(--brand-color-alt);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sectionfour .placeholder {
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .sectionfour .sectioncontainer {
    flex-direction: row-reverse;
  }

}